*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 480px){
    header > nav > ul{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,1fr);
        justify-items: center;
        list-style: none;
    }
    .hyperlinks{
        border: 1px solid black;
        width: 100%;
        text-align: center;
        text-decoration: none;
        padding: .5% 0;
        color: black;
        background: white;
    }
    .hyperlinks:hover{
        color: white;
        background-color: black;
    }

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-height);
}

    main > .wedding-temple{
        grid-column: 1/2;
        grid-row: 1/4;
    }
    .wedding-temple>img{
        width: 100%;
        max-width: 100%;
    }
    main > .wedding-names{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    main > .wedding-message{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    main > .wedding-rsvp{
        grid-column: 1/2;
        grid-row: 3/4;
    }

}