* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url("/images/mesa-web.webp") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    overflow-x: hidden;
}

@media only screen and (max-width: 480px) {
    header>nav>ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        justify-items: center;
        list-style: none;
    }

    .hyperlinks {
        border: 1px solid black;
        width: 100%;
        text-align: center;
        text-decoration: none;
        padding: .5% 0;
        color: black;
        background: white;
    }

    .hyperlinks:hover {
        color: white;
        background-color: black;
    }

    main{
        margin-top: 15%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 20vh);
        justify-items: center;
        align-items: center;
    }

    .wedding-names > h1{
        font-size: 3em;
        color: white;
        text-shadow: .05em .05em silver;
    }

    .wedding-message > h2{
        font-size: 3em;
        color: black;
        text-shadow: .05em .05em silver;
    }
    .wedding-rsvp{
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: rgba(128, 128, 128, 0.681);
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .wedding-rsvp p{
        font-size: 2em;
    }
    .wedding-rsvp a{
        text-decoration: none;
        color: white;
        border: 1px solid black;
        text-align: center;
        padding: 2% 5%;
        background: #000;
}
.wedding-rsvp a:hover{
color: black;
background: white;
}

    footer > section{
        position: fixed;
        bottom: 0;
        background-color: black;
        color: white;
        width: 100%;
        text-align: center;
    }

}